<!DOCTYPE html>
{% load static %}
{% load customTags %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
   
	<title>{% block title %} <!-- Individual Title -->> {% endblock title %}</title>
	<link rel="shortcut icon" type="image/png" href="{% static 'img/Secure.png' %}"/>
	

	<!-- Added Styles -->
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<!-- Main Style Sheet -->
	<link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">

	
</head>
<body>
	{% block body %}
		<br>
		<br>
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-sm-8">
					<img class="resize center" src="{% static 'img/Secure.png' %}" alt="Secure">
			</div>
		</div>
		<br>
		<br>
		{% block content %}
			<!-- Individual html page content -->
		{% endblock content %}
	
	{% endblock body %}

	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>